--extra-index-url https://download.pytorch.org/whl/cu116

allennlp==2.10.1
allennlp_models==2.10.1
torch==1.12.1+cu116
torchvision==0.13.1+cu116
torchaudio==0.12.1
typing-extensions==4.5.0
urllib3==1.26.20
pandas
click
bs4
